/*General and utilities (excludes cards)*/
* {
    padding: 0;
    margin: 0;    
    box-sizing: border-box;
}

body {
    font-family: Inter, Arial;
    /*color: hsl(0, 0%, 0%);*/
    font-size: 14px;
    /*background-color: hsl(225, 100%, 98%);*/
}

body.dark {
    color:  hsl(0, 0%, 100%);
    background-color:  hsl(230, 17%, 14%);
}

.container {
    margin: auto;
    margin-top: 20px;
    width: 85%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

/*Top of page*/
h1 {
    font-size: 25px;
    margin: 10px 0;
}

h2 {
    opacity: 50%;
    font-size: 20px;
    margin: 20px 0px;
}

#header-left {
    float: left;
}

/*Theme toggle*/
.dark-mode-toggle {
    float: right;
}

.dark-mode-toggle input {
    /*visibility: hidden;*/
}

#toggle-text {
    display: inline;
    padding-right: 1em;
}

#toggle-bar {
    background-color: #000;
    width: 40px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    display: inline;
    transition: 0.5s;
}

#toggle-circle {
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: 0.5s;
}

#checkbox:checked + label #toggle-circle {
    transform: translateX(20px);
}

#checkbox:checked + label #toggle-bar {
    background-color: blue;
}

/*Cards*/
.card {
    position: relative;
    background-color: hsl(225, 100%, 90%);
    width: 225px;
    min-height: 125px;
    margin: 15px;
    border-radius: 10px;
    float: left;
}

.card-top-border {
    position: absolute;
    top: 0;
    background-color: #000;
    height: 5px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 16px;
    margin: 20px;
}

.big-stat {
    font-weight: bold;
    margin: 10px;
}

#follower-and-sub-cards {
    margin: 50px 0;
}

#follower-and-sub-cards .card {
    text-align: center;
}

#follower-and-sub-cards .big-stat {
    font-size: 40px;
}

.wide-letter-space {
    letter-spacing: .5em;
    opacity: 50%;
    text-transform: capitalize;
    margin: 5px 0;
}

.up-trend {
    font-weight: bold;
    margin: 5px;
    color: hsl(163, 72%, 41%);
}

.down-trend {
    font-weight: bold;
    margin: 5px;
    color: hsl(356, 69%, 56%);
}